@font-face {
    font-family: "jua";
    src: url("./fonts/BMJUA_ttf.ttf");
}

*,*::after,*::before{
    font-family: "jua";

    /* 드래그 방지 */
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none

    /* 드래그 허용 */
    /* 
    -webkit-user-select:all;
    -moz-user-select:all;
    -ms-user-select:all;
    user-select:all
    */
}
*{
    font-size: 16px;
}
#root,.App{
    width: 100vw;
    height: 100vh;
}