.OverlayWrap{
  position: absolute;
  left: 0;
  bottom: 3rem;
  margin-left: -8rem;
  color: black;
  width: 20rem;
  height: 14rem;
  background-color: white;
  border: 1px solid #000;
  border-radius: 1rem;
  padding: 1rem;
  padding-top: 2rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.UserProfile{
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  overflow: hidden;
  background-color: aqua;
}
.UserinfoWrap{
  margin-left: 0.5rem;
}
.UserName{
  font-size: 1.5rem;
  height: 2rem;
  line-height: 2rem;
}
.UserPoint{
  height: 1rem;
  line-height: 1rem;
}
.UserWrap{
  display: flex;
  justify-content: space-between;
}
.HelpTimeWrap{
  font-size: 0.5rem;
  height: 3rem;
  line-height: 1.5rem;
  text-align: center;
}
.HelpContentWrap{
  padding: 0.25rem;
  width: 18rem;
  height: 4rem;
  border-radius: 1rem;
  border: 1px solid #000;
  text-overflow: ellipsis;
}

.HelpDetailBtn{
  width: 18rem;
  height: 2rem;
  background-color: #6938D3;
  color: #fff;
  border-radius: 0.75rem;
}

.CloseBtn{
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.5rem;
}